<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zyh.com.zhoukao01_lianxi">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="zyh.com.core.WDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TwoActivity" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MyFootmarkActivity" />
        <activity android:name=".MyMessageActivity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".MyWalletActivity" />
        <activity android:name=".MyAddressActivity" />
        <activity android:name=".MyCircleActivity" />
        <activity android:name=".ShopCountActivity" />
        <activity android:name=".AddCircleActivity" />
        <activity android:name=".WelActivity"></activity>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c3fd1bff1f556b610000014" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ceshi" />

    </application>

</manifest>